body{
    background-color: #3e6b89;
}
#loginbox{
    margin-top:50px;
    border-radius: 5px;
}
#signin{
    float:right; font-size: 80%;
    position: relative; 
    top:-10px;
}
.panel-body{
    padding-top:30px
}
#login-alert{
    display:none;
}
.input-group{
    margin-bottom: 25px;
    border-radius: 3px;
}.form-group{
    margin-top:10px;
}
.donthave{
    border-top: 1px solid#888;
    padding-top:15px;
    font-size:85%;
}
#loginbox{
    border: #099;
}
.btn-yel{
    background-color: #099;
    border:none;
    border-radius: 0;

}
#loginform{
    background-color:#cbf9da;
    padding: 1em;
}
.form-horizontal{
    border: 4px #099;
}
.form-control{
    border-radius: none;
}
.tittle{
    color: #122d42;
}
i{
    text-align: center;
    padding: 0.5em;

}
.fa-heartbeat{
    color:#cbf9da;
    font-size: 5em;
}
.mainLoginInput{
    height: 40px;
    padding: 0px;
    font-size: 30px;
    margin: 5px 0;
  }
  
  .mainLoginInput::-webkit-input-placeholder { 
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: gray;
  }
  
  .mainLoginInput::-moz-placeholder  { 
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color:black;
  }
  
  .mainLoginInput:-ms-input-placeholder  { 
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color:black;
  }
  .fa-user{
    text-align: center;
    font-size: 1.5em;
  }
  .fa-lock{
      text-align: center;
      font-size: 1.5em;
  }
  .col-lg-4 {
      text-align: center;
  }
 